*{
	margin: 0;
	padding: 0;
}

header{
	width: 100%;
	height: 180px;

}

#webTitle{
	margin: 20px auto;

}
#socialNet{
	float: right;
	margin:-53px auto;
	padding-right:30px;
	
}
/*Barra Menu*/
#navBar{
  width: 90%;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

#navBar ul ul {
  display: none;
}

#navBar ul{
  display: inline-table;
  position: relative;
  list-style: none;
}
#navBar>ul{
  width: 100%;

}
#navBar ul li{
  display: inline;
  left: 0;
  right: 0;
  width: 25%;
}

#navBar>ul>li{
  float: left;
  background-color: #45b69c;
  /*temporal*/
  transition: background-color 2s;
}

#navBar>ul>li:hover>ul{
  display: block;
  
}
#navBar ul li:hover>a{
  background-color: rgba( 0, 0, 0, 0.1);
}
#navBar ul li a {
    display: block; 
    text-decoration: none;
    padding: 20px 40px;
    color: rgb(255, 255, 255);

  }
#navBar>ul>li>ul{
    background-color: #A0a4b8;

}

