/**{
	color: white;
}

.ultimasNoticias{

  background: rgba(255, 255, 255, 0.1);
}
aside{
  background: rgba(255, 255, 255, 0.1);
}*/
.blogPost, #comments, form{
	width: 90%;
	margin: 10px auto;
}


.blogTitle {
    font-size: 28px;
    line-height: 44px;
    padding: 22px 0;
}
 
h3 {
    font-size: 18px;
    line-height: 22px;
    padding: 11px 0;
}
 
/*p {
    padding-bottom: 22px;
}*/


/*------------------------------
=INTRODUCTION
------------------------------*/

#intro img{
	display: block;
	margin: 20px auto;
	width: 95%;
}



/*------------------------------
=BLOG POST
------------------------------*/
.blogPost header p, .blogPost header p a {
		font-size: 14px;
		font-style: italic;
		color: #777;
	}
	
		.blogPost header p a:hover {
			text-decoration: none;
			color: #000;
		}




/*------------------------------
=COMMENTS
------------------------------*/

#comments {
	margin-top: 21px;
	padding-top: 22px;
}
#comments article:nth-child(odd){
	border: 1px solid rgba(0, 0, 0, 0.7);
	background: rgba(0, 0, 0, 0.2);
	border-radius: 8px;
}
	#comments article {
		display: table;
		padding: 22px;
	}

		#comments article header {
			display: table-cell;
			width: 30%;
			padding-right: 22px;
		}
		
			#comments article header a {
				display: block;
				font-weight: bold;
				color: #000;
			}
			
				#comments article header a:hover {
					text-decoration: none;
				}
		
		#comments article p {
			padding: 0;
		}



/*------------------------------
=COMMENT FORM
------------------------------*/
form {
	margin-top: 21px;
	padding-top: 22px;
}

	form p {
		display: table;
		margin-bottom: 22px;
		padding: 0 22px;
		width: 100%;
	}

		form label {
			display: table-cell;
			width: 140px;
			padding-right: 20px;
			text-align: right;
			font-weight: bold;
			vertical-align: top;
		}
	
		form input[type="text"], form input[type="email"], form input[type="url"] {
			display: table-cell;
			width: 60%;
			height: 20px;
			border: 1px solid #d7d7d7;
		}
		
		form textarea {
			width: 90%;
			height: 100px;
			border: 1px solid #d7d7d7;
		}
		
		form input[type="submit"] {
			margin-left: 162px;
		}


