/*Torneos*/
.ultimasNoticias{
  width: 68%;
}

.evento{
  height: 28%;
  width: 100%;
  margin: 15px auto;
}
.fecha{
  text-align: center;
  float: left;
  margin:15px 10px;
  margin-right: 20px;
  display: block;
  width: 20%;
  height: 30%;
  background: #fff;
  text-align: center;
  font-family: 'Helvetica', sans-serif;
  position: relative;

}
h4{
  padding: 0;
  margin: 0;
}
.info{
  width: 100%;
  margin-right: 10px;
}

.mes{
  background: #23335C;
  display: block;
  padding: 4px 0;
  color: #fff;
  font-size: 16px;
  letter-spacing: 3px;
  font-weight: bold;
  border-bottom: 2px solid #0E2A51;
  box-shadow: inset 0 -1px 0 0 #666;
  overflow: hidden;
}
.numero{
  display: block;
  padding: 10px 0;
  font-size: 28px;
  box-shadow: 0 0 3px #ccc;
  position: relative;
  overflow: hidden;
}

/*Tabla de posiciones*/

.icon-arrow-up{
color: #59B13B;
margin-right: 5px;
}
.icon-arrow-down{
  color: #E42C23;
  margin-right: 5px;

}
.icon-arrow-right{
  color: #7D7D7D; 
  margin-right: 5px;

}
/*tabla de pos.*/
#standings{
  border-collapse: collapse;
  color: #2E6B9F;
  text-align: center;
  width: 100%;
}
#standings img{
  width: 60px;
  height: 60px;
  float: left;
}
#standings a{
  text-decoration: none;
  color: #2E6B9F;

}

tr{
  background: #E4E4E4;
  transition: all .2s;
}
td{
  margin: 5px 10px;
  vertical-align: middle;
  border: 1px solid white;

}


tr:hover{
  background: rgba(56, 166, 203, 0.6);

}

tr:nth-child(even){
    background: #FFFFFF;

}
th{
  height: 60px;
  border: 1px solid white;
  background-color: #26425B;
  color: white;
}
caption{
  height: 30px;
  line-height: 30px;
  background-color: #26425B;
  color: white;
  font-size: 15px;
  font-weight: bold;
}

th:hover{
  background-color: rgba(0, 0, 0, 0.4);
}
.position1:hover{background: rgba(10, 40, 60, 0.3);}
.position2:hover{background: rgba(225, 58, 58, 0.3);}
.position3:hover{background: rgba(70, 70, 100, 0.3);}
.position4:hover{background: rgba(50, 127, 197, 0.3);}
.position5:hover{background: rgba(67, 165, 225, 0.3);}
.position6:hover{background: rgba(142, 191, 46, 0.3);}
.position7:hover{background: rgba(93, 161, 213, 0.3);}
.position8:hover{background: rgba(240, 193, 58, 0.3);}


.teamName{
  line-height: 60px;
}

#tabla{
  margin-bottom: 30px;
}
.TemporadaActual{
    width: 30%;
    float: right;
    height: auto;
    margin-bottom: 20px;
      overflow: hidden;
}
